:root{
    --COLOR-WHITE: #FFFFFF;
    --COLOR-BLACK: #000000;
    --COLOR-SECONDARY: GREY;

    --COLOR-BODY: #F4F4F4;

    --COLOR-HEADER-BKGD: #1C1C1C;
    --COLOR-SEARCH-BAR: #2A2A2A;
    --COLOR-HEADER-TEXT: #DBDBDB;

    --COLOR-CATEGORY-BKGD: #e6e6e6;
    --COLOR-CATEGORY-CARD-BKGD: #383838;

    --COLOR-NOTIFICATION: #cd1919;
    
    --COLOR-PRODUCT-CARD-BKGD: #DFDFDF;
    --COLOR-ADDTOCART: #1C9C3B;

    --COLOR-FORGET-PASSWORD: #3B82F6;
    --COLOR-BTN-LOGIN: #477644;
    --COLOR-BTN-GOOGLE-TEXT: #757575 ;
    --COLOR-BTN-FB: #4267b2;

}